body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: grid;
    grid-gap: 15px;
    font-size: 14px;
    font-weight: bold;
}

input,
select,
textarea {
    height: 10px;
    padding: 10px;
}

select {
    height: 40px;
    width: 100%;
    background-position: 100%;
    padding: 0.5rem;
}

button {
    width: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.form-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.span-2 {
    grid-column: span 2;
}

.radio-group {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

